bin/Release
bin/Debug
.vs
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/paket-files
/.fake
/.paket/paket.exe
/src/Demo/.domaincache
/.paket/Paket.Restore.targets
/src/*.domaincache
